/*{
    margin: 0;
    padding: 0;
    
    direction: rtl;
    font-family: Vazir;
}*/

@font-face { 
    font-family: Vazir-Medium;
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/Vazir-Medium.woff') format('woff'),
    url('../fonts/Vazir-Medium.eot') format('eot');
    
    
    

}


body{
    
    direction: rtl;
    font-family: Vazir-Medium !important
    
       /*font-family: 'iransans';*/
}



#main-menu{
    direction: rtl;
    overflow: visible !important
}

#main-menu .navbar-nav .nav-link{
    color: white;
}

#lodin-peson{
    border-color: cornsilk
}

.m-login{
    background: linear-gradient(90deg,#f093fb,#f5576c);
    border: none !important;
    padding: 10px !important;
    width: 45%;
    border-radius: 27px !important;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 0 3px #999;
    display: block !important;
    
}

#login-modal .modal-footer{
    background: #c4bdbd;
    
}



.dropdown-menu.show {
    min-width: 200px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.12);
    padding: 11px;
}

@media (min-width:768px) {
    #mycarousel {
        height: 100vh;
        overflow: hidden;
    }
}

.container #mycarousel{
    max-width: 100%;
    height: auto;
}

.services{
    color: #958585;
}

#card-row{
 margin: 30px;
 
}

.pro-btn {
    background: linear-gradient(147deg,#d488dd,#cc5665);
    border: none !important
}

.container {
    max-width: 1140vh;
    width: auto;
}

#team{
    color: black;
}

.card-avetar {
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin: -72px auto 25px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.card-avetar img{
    width: 100%;
}

#footer {
    text-align: justify;
    padding-top: 31px;
}

/*mobile begin*/
.breadcrumb-item {
    background: #f3f2ee;
    padding: 30px 0;
}

.breadcrumb_links_home span {
    font-size: 15px;
    color: #b7b7b7;
    display: inline-block;
}

.spad {
    padding-top: 78px;
    padding-bottom: 78px;
}

.shop_sidebar_search{
    margin-bottom: 45px;
}

.shop_sidebar_search form input{
    width: 100%;
    font-size: 15px;
    color: #b7b7b7;
    padding: 15px;
    border: 1px solid #e5e5e5;
    height: 42px;
}

.shop_sidebar_search form button{
    color: #b7b7b7;
    font-size: 15px;
    border: none;
    background: transparent;
    position: absolute;
    
    /*right: 0;*/
    padding: 0 15px;
    top: 10px;
    /*height: 100%;*/
    left: 15px;
}

form.shop_product_option_right {
    padding-right: inherit;
    padding-top: 2px;
}

.shop_product_option_left p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: end;
    padding-left: 15px;
}

.shop_sidebar_accordion .card-body{
    padding: 0;
    padding-top: 3px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.shop_product_option {
    border: 1px solid #e5e5e5;
    padding: 0px;
    
}

 /*.product_item_picture{
    overflow: visible;
}*/

.col-lg-4.col-md-6.col-sm-6 {
    padding-top: 30px;
}

.product_item_text {
    padding-top: 25px;
    position: relative;
}

/*.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}*/

/*style page number*/

.product_pagination{
    padding-top: 25px;
    text-align: center;
}

nav.product_pagination {
    direction: ltr;
    
}

nav.product_pagination a {
    border: 1px solid transparent;
    border-radius: 50%;
    /*height: 30px;
    width: 30px;*/
    text-align: center;
    line-height: 18px;
    color: black;
}

.page-item.active .page-link {
    z-index: 3;
    color: #702222 !important ;
    background-color: #e5e5ed !important;
    border-color: #007bff3b !important;
}

.product_pagination a.active {
    border-color: #111111;
}

/*hover*/
.product_item:hover .add-cart{
    top: -8px;
    visibility: visible;
    opacity: 1;
    
}

.product_item .add-cart{
    position: relative;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    color: #ed1c24;
}

.lg\:block {
    display: block;
}

